*{
    margin:0;
    padding:0;
}

.App {
    background-color: orange;
}

.loginButton {
    background-color: rgb(255, 255, 255);
    display: inline-flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
    padding: 0px;
    border-radius: 2px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    width: 11.1%;
    height: 42px;
    margin-top: 2rem;
}

.title {
    align-items: center;
    padding: 0px;
    font-size: 55px;
    font-weight: 900;
    font-family: Noto Sans, sans-serif;
    font-variant: small-caps;
    font-stretch: expanded;
    margin-top: 10rem;
}

.emailTitle {
    padding: 10px 10px 10px 0px;
    font-weight: 900;
    margin-left: 0.5rem;
}

.microsoftTitle {
    box-sizing: border-box;
    margin-top: 1rem;
}

.button {
    margin-top: 1rem;
    border-radius: 0;
    width: 213.11px;
}

.buttonTitle {
    font-family: Noto Sans, sans-serif;
    font-stretch: expanded;
    font-weight: 500;
}